.principal{
    width: 80%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.inicio{
    background: #d0d0d0;
    width: 600px;
    height: 600px;
    padding: 5px;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    
}


.registro{
    background: #d0feff;
    width: 400px;
    height: 600px;
    padding: 5px;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    
}

.img{
    width: 100px;
    height: 100px;
}

#titulo{
    font-size: 40px;
    text-align: center;
    padding: 20%;
    

}

.form{
    width: 500px; /* Cambiar este valor según sea necesario */
    /*max-width: 400px;*/
    margin: auto; /* Centrar horizontalmente */
    padding-top: 10%;
}

.fst-italic{
    text-align: center;
    padding-top: 10%;
    font-family: sans-serif;
    color: black;
}

.btn-primary{
    margin-left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20%;

}
